#pad {
	padding-bottom: 30px;
	width: 100vw;
}

#front {
	overflow: hidden;
}

#front > img {
	max-height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
}

#overCaption {
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 15%;
}

#overCaption > p {
	padding: 2.5% 0 2.5% 15%;
	max-width: 60vw;
	font-size: 26px;
	color: white;
}

@media (max-width: 500px) {
	#overCaption {
		top: 5%;
	}
}

