#pad {
	margin-bottom: 30px;
	width: 100vw;
}

#front {
	height: 100%;
	width: 100%;
}		

#overCaption {
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 15%;
}

#front > img {
	height: 100%;
	width: 100%;
	object-fit: cover;	
}

#overCaption > p {
	padding: 2.5% 0 2.5% 15%;
	max-width: 60vw;
	font-size: 26px;
	color: white;
}

@media (max-width: 500px) {
	#overCaption {
		top: 3%;
	}
	#overCaption > p {
		font-size: 15px;
	}
}

